@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Premium & Custom Styles diletakkan di bawah */
[x-cloak] {
    display: none !important;
}

html {
    scroll-behavior: smooth;
}
